[user]
	email = rainbow_delta@outlook.com
	name = Bryan M. Ramsamy
[core]
	editor = vim
[alias]
	pushall = !git remote | xargs -L1 git push --all
	pushbranchall = !git remote | xargs -L1 -I R git push R
	deletebranchall = "!f() { for branch in \"$@\"; do git remote | xargs -I R git push R --delete $branch; done; }; f"
