! ---------------| ARC DARK THEME |---------------

*.background: #383c4a
*.foreground: #D2D2D2

!black
*color0: #383c4a
*color8: #404552

!red
*color1: #9A4138
*color9: #E7766B

!green
*color2: #4BEC90
*color10: #3CBF75

!yellow
*color3: #D8D782
*color11: #CFCD63

!blue
*color4: #5294e2
*color12: #579CEF

!magenta
*color5: #CE50DD
*color13: #AD7FA8

!cyan
*color6: #6BE5E7
*color14: #90FDFF

!white
*color7: #CCCCCC
*color15: #FFFFFF

! ---------------| ROFI APPEARANCE |---------------

rofi.fullscreen: true
rofi.color-enabled: true

! WINDOW COLOURS      BG-1              BORDER      SEPARATOR
rofi.color-window:    argb:c8383c4a,    #CCCCCC,    #CCCCCC

! ENTRY COLOUR        BG-1              TEXT        BG-2              SELECTED-BG       SELECTED-TEXT
rofi.color-normal:    argb:c8383c4a,    #CCCCCC,    argb:c8404552,    #5294e2,          #CCCCCC
rofi.color-active:    argb:c8383c4a,    #FFFFFF,    argb:c8404552,    #5294e2,          #FFFFFF
rofi.color-urgent:    argb:c8383c4a,    #CCCCCC,    argb:c8404552,    #5294e2,          #CCCCCC

rofi.font: Ubuntu Regular 20

! Number of line per entry (1 = on line for each entry)
rofi.eh: 2

rofi.line-margin: 0
rofi.separator-style: solid
rofi.hide-scrollbar: false

rofi.lines: 10
rofi.columns: 2

rofi.width: 100
rofi.padding: 200

! border-width size
rofi.bw: 0

rofi.show-icons: true

! To reload .Xresources file: "xrdb ~/.Xresources"