! To reload .Xresources file: "xrdb ~/.Xresources"

! ARC DARK THEME

*.background: #383c4a
*.foreground: #D2D2D2

!black
*light-black: #404552
*dark-black: #383c4a

!red
*light-red: #E7766B
*dark-red: #9A4138

!green
*light-green: #4BEC90
*dark-green: #3CBF75

!yellow
*light-yellow: #D8D782
*dark-yellow: #CFCD63

!blue
*light-blue: #579CEF
*dark-blue: #5294e2

!magenta
*light-magenta: #AD7FA8
*dark-magenta: #CE50DD

!cyan
*light-cyan: #90FDFF
*dark-cyan: #6BE5E7

!white
*light-white: #FFFFFF
*dark-white: #CCCCCC

! ROFI APPEARANCE

rofi.color-enabled: true
rofi.fullscreen: true

! WINDOW COLOURS      BG-1              BORDER      SEPARATOR
rofi.color-window:    argb:c8383c4a,    #CCCCCC,    #CCCCCC

! ENTRY COLOUR        BG-1              TEXT        BG-2              SELECTED-BG       SELECTED-TEXT
rofi.color-normal:    argb:c8383c4a,    #CCCCCC,    argb:c8404552,    #5294e2,          #CCCCCC
rofi.color-active:    argb:c8383c4a,    #FFFFFF,    argb:c8404552,    #5294e2,          #FFFFFF
rofi.color-urgent:    argb:c8383c4a,    #CCCCCC,    argb:c8404552,    #5294e2,          #CCCCCC

rofi.font: Ubuntu Regular 20

! Number of line per entry (1 = on line for each entry)
rofi.columns: 2
rofi.eh: 2
rofi.hide-scrollbar: false
rofi.line-margin: 0
rofi.lines: 10
rofi.padding: 200
rofi.separator-style: solid
rofi.width: 100

! border-width size
rofi.bw: 0
rofi.show-icons: true
